@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

:root {
  --primary-color: #006eff;
}

body {
  background-color: #1b1b1b;
}

* {
  margin: 0;
  font-family: "Quicksand";
  color: #fff;
}

nav {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #b6b6b6;
  justify-content: space-between;
}

nav h1 {
  color: var(--primary-color);
}

nav a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

nav a:hover {
  color: var(--primary-color);
}

main {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* estilos para productos */
.product-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #3a3a3a;
}

.product-preview:hover {
  box-shadow: 1px 3px 5px rgba(255, 255, 255, 0.1);
}

.product-preview h2 {
  font-size: 20px;
  color: var(--primary-color);
  margin-bottom: 8px;
}

.product-preview a {
  text-decoration: none;
}

/* Estilos para o loading-notch */
.notch-container {
  text-align: center;
}

.loading-notch {
  animation: spin 0.5s forwards infinite linear;
  font-size: 1.4rem;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* Estilos para mensagem de erro */
.error-message {
  background-color: #fff;
  color: #f00;
  padding: 1rem;
  border-radius: 0.5rem;
  font-weight: 600;
}

.error-message span {
  color: #f00;
  font-weight: bolder;
  font-size: 1.2rem;
}
